@media (min-width: 1000px) {
 .first{
	max-width:1920px;
	min-height:1960px;
}
 .imgcall{
	width:9%;
	position: absolute;
	top: 442px;
	left: 85%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	height:auto;
	}
	.imgcallf{
	width:9%;
	position: absolute;
	top: 442px;
	left: 85%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	height:auto;
	}				

//-webkit-box-sizing:border-box;
/*-moz-box-sizing:border-box;
-box-sizing:border-box;*/





img{
	display:inline-block;
	height:auto;
}

span{
	display:block;
	margin:0 auto;
	text-align: center;
}
footer{
	padding:20px;
	width: 100%px;
	height:159px;
	background-color: #F7F7F7;
	}
	header{
	width: 100%;
	height:163px;
	}
	
	.product{
	width: 100%;
	height:383px;

	}
	.about{
	width: 100%;	
	height:225px;	
	}
	.news{
	width: 100%;
	height:280px;	
	}
	.row1p{
	
	margin-left:10%;
	}
	.littlep{
	float:left;
	width:25%;
	height:300px;
	margin-left:1%;
	margin-right:1%;
	border:	2px solid #DCE1E6;
	padding-left:3%;
	}
	.littlen{
	float:left;
	width:25%;
	height:25%;
	margin-left:1%;
margin-right:1%;
	}
	.littlen:hover{
	border: 2px solid #1AB0CE;
		
	}
	.littleh{
	float:left;
	width:18%;
	margin-left:1%;
	margin-right:1%;
	border:	#DCE1E6;
	}
	.print{
		width:100%;
		height:auto;
	}
	.littlef{
	float:left;
	width:12%;
	margin-left:1%;
	margin-right:1%;
	border:	#DCE1E6;
	}
	#up{
	height:120px;	
	}
	
	.downlit1{
	float:left;
	width:8%;
	border:	#DCE1E6;
	}
	.textdown{
	text-align:center;	
	}
	.phone:after{
	content: "\f13a";
  margin-left: 8px;
  font-family: "Font Awesome 5 Free";	
	}
	.phone{
	
	font-family:Clear Sans;
	font-weight:bold;
	font-size:16px;
	line-height:19px;
	text-align:left;
	margin-left: 10px;	
	margin-right: 10px;	
	}
	.row2{
	width:100%;	
	float:left;
	}
	.row21{
	width:50%;
	float:left;
	}
	.prodtext{
		font-family:Clear Sans;
		font-style:Regular;
		font-size:14px;
		line-height:16px;
		text-align:left;
		margin-left: 40%;	
				}
	.maintext{
					
		font-family:Clear Sans;
		font-style:Regular;
		font-size:36px;
		line-height:42px;
		text-align:center;
				}
	#mainabout{
				
		font-family:Clear Sans;
		font-style:Regular;
		font-size:24px;
		line-height:28px;
		text-align:center;
				}
				#textabout{
		font-family:Clear Sans;
		font-style:Regular;
		font-size:14px;
		line-height:16px;
		text-align:justify;
					
				}
				.mainprod{
		font-family:Clear Sans;
		font-weight:bold;
		font-size:16px;
		line-height:19px;
		text-align:left;
		margin-left: 25%;		
				}
				.mainnew{
		font-family:Clear Sans;
		font-style:Regular;
		font-size:14px;
		line-height:16px;
		text-align:center;
		color:#BEC7D1;
				}
				.textnew{
		font-family:Clear Sans;
		font-style:Regular;
		font-size:16px;
		line-height:19px;
		text-align:center;
				}
				.textnew:hover{
		color: #1AB0CE;
		text-decoration: underline;
				}
				#room{
		 margin-left: 10px;	
		font-family:Clear Sans;
		font-style:Regular;
		font-size:14px;
		line-height:16px;
		text-align:justify;
				}
				.texthead{
		font-family:Clear Sans;
		font-weight:bold;
		font-size:14px;
		line-height:16px;
		text-align:right;
				}
				#butt{
				text-align: center;	
				
				}
				.button1 {
				width:14%;	
		font-family: Clear Sans;
		font-weight: Bold;
		font-size: 16px;
		line-height: 19px;
		text-align: Center;			
		position: relative;
		display: inline-block;
		margin: 0 auto;
		padding:1%;
		margin:1%;
		background-color: white;
		color: #1AB0CE;
		border: 2px solid #1AB0CE;
		text-align:center;
				}
				.button2 {
					
	 display: inline; /* Отображать как строчный элемент */
     font-family:Clear Sans;
	font-weight:bold;
	font-size:16px;
	line-height:19px;
	text-align:center;
    padding: 1%;				
	float: left;
	background-color: white;
    border: 1px solid #E8EDF2;
				}
			.button2:hover {
border: 1px solid #1AB0CE;
color: #1AB0CE;
}

#button2{
	
	width:74%;
	text-align:left;
	float:left;

}	
	.left{
	float:left;	
	margin-left:1%;
		}
	.leftp{
		width:18%;
		float:left;	
		margin-left:1%;
		height:auto;
	}
	.right{
	width:10%;
	float:right;
	margin-left:1%;	
	height:auto;
	}
	#imgbutt{
		width:14%;
		position: absolute;
        top: 60%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
		height:auto;
	}
	.imgcall{
		width:9%;
		position: absolute;
        margin-top:12%;
        left: 95%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
		height:auto;
	}
	.imgcallf{
		width:9%;
		position: absolute;
        top:1726px;
        left: 95%;
        margin-right: -50%;
        transform: translate(-50%, -50%);	
		height:auto;
	}
	#imgLine{
		width:9%;		
		position: absolute;
        margin-top: 160px;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
		height:auto;
	}
	
	.map{
	width: 100%;
	height:565px;
	
	}
	
	
	#shop{
	width:20%;
	height:auto;	
	}
	#Rectangleimg{
width:100%;	
margin:0 10px 10px 0;	
height:auto;
	}
	#Phonesimg{
		width:15%;		
		position: absolute;
        top: 22%;
        left: 74%;
        margin-right: -50%;
        transform: translate(-50%, -50%);	
		height:auto;
	}
	#phone{
	position: relative;
	width:105%;	
	}
	.submenu {
 position: absolute;
  
 
  z-index: 99;
  width: 180px;
  visibility: hidden;
}


#phone:hover .submenu {
  visibility: visible;
}
	#phonef{
	width:80%;	
	}
	input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('img/search.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}
#search{
	float:right;
	width:20%;
}
#H1{
	width:78%;
	position: absolute;
	margin-top:113px;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	height:auto;	
}
#H2{
		width:48%;
		position: absolute;
        margin-top:201px;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
		height:auto;	
}
}

/*ноутбуки*/
@media (min-width: 768px) and (max-width: 999px) {
 .first{
	max-width:990px;
	min-height:1515px;
	
} 
header{
	width: 100%;
	height:163px;
	}
 .map{
	width: 100%;
	height:310px;
	}
	#imgbutt{
		width:14%;
		position: absolute;
        top: 61%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
		height:auto;
	}
	#imgLine{
		width:9%;		
		position: absolute;
        margin-top: 138px;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
		height:auto;
	}
.littlep{
	float:left;
	width:25%;
	height:307px;
	margin-left:1%;
	margin-right:1%;
	border:	2px solid #DCE1E6;
	padding-left:3%;
	}
	.product{
	width: 100%;
	height:360px;

	}
	.about{
	width: 100%;	
	height:200px;	
	}
	.row1p{
	
	margin-left:10%;
	}
	.news{
	width: 100%;
	height:187px;	
	}
	.button1 {
				width:23%;	
		font-family: Clear Sans;
		font-weight: Bold;
		font-size: 16px;
		line-height: 19px;
		text-align: Center;			
		position: relative;
		display: inline-block;
		margin: 0 auto;
		padding:1%;
		margin:1%;
		background-color: white;
		color: #1AB0CE;
		border: 2px solid #1AB0CE;
		text-align:center;
				}
				footer{
	padding:10px;
	width: 100%;
	height:220px;
	background-color: #DCE1E6;
}
.button2 {
					
	 display: inline; /* Отображать как строчный элемент */
     font-family:Clear Sans;
	font-weight:bold;
	font-size:8px;
	line-height:19px;
	text-align:center;
    padding: 1%;				
	float: left;
	background-color: white;
    border: 1px solid #E8EDF2;
				}
				#phone{
	width:30%;	
	}
	.littlen{
	float:left;
	width:25%;
	height:25%;
	margin-left:1%;
	margin-right:1%;
	}
	.littlen:hover{
	border: 2px solid #1AB0CE;
		
	}
	.littleh{
	float:left;
	width:18%;
	margin-left:1%;
	margin-right:1%;
	border:	#DCE1E6;
	}
	.print{
		width:100%;
		height:auto;
	}
	.littlef{
	float:left;
	width:12%;
	margin-left:1%;
	margin-right:1%;
	border:	#DCE1E6;
	}
	#up{
	height:120px;	
	}
	
	.downlit1{
	float:left;
	width:8%;
	border:	#DCE1E6;
	}
	.textdown{
	text-align:center;	
	}
	.phone{
	font-family:Clear Sans;
	font-weight:bold;
	font-size:10px;
	line-height:19px;
	text-align:left;
	margin-left: 10px;	
	margin-right: 10px;	
	}
.row2{
	width:100%;	
	float:left;
	}
	.row21{
	width:50%;
	float:left;
	}
	.prodtext{
		font-family:Clear Sans;
		font-style:Regular;
		font-size:14px;
		line-height:16px;
		text-align:left;
		margin-left: 40%;	
				}
	.maintext{
					
		font-family:Clear Sans;
		font-style:Regular;
		font-size:36px;
		line-height:42px;
		text-align:center;
				}
	#mainabout{
				
		font-family:Clear Sans;
		font-style:Regular;
		font-size:24px;
		line-height:28px;
		text-align:center;
				}
				#textabout{
		font-family:Clear Sans;
		font-style:Regular;
		font-size:14px;
		line-height:16px;
		text-align:justify;
					
				}
				.mainprod{
		font-family:Clear Sans;
		font-weight:bold;
		font-size:16px;
		line-height:19px;
		text-align:left;
		margin-left: 25%;		
				}
				.mainnew{
		font-family:Clear Sans;
		font-style:Regular;
		font-size:14px;
		line-height:16px;
		text-align:center;
		color:#BEC7D1;
				}
				.textnew{
		font-family:Clear Sans;
		font-style:Regular;
		font-size:16px;
		line-height:19px;
		text-align:center;
				}
				.textnew:hover{
		color: #1AB0CE;
		text-decoration: underline;
				}
				#room{
		 margin-left: 10px;	
		font-family:Clear Sans;
		font-style:Regular;
		font-size:14px;
		line-height:16px;
		text-align:justify;
				}
				.texthead{
		font-family:Clear Sans;
		font-weight:bold;
		font-size:14px;
		line-height:16px;
		text-align:right;
				}
				#butt{
				text-align: center;	
				
				}
.imgcall{
		width:9%;
		position: absolute;
        top: 65%;
        left: 85%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
		height:auto;
	}
	.imgcallf{
		width:9%;
		position: absolute;
        top: 1305px;
        left: 85%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
		height:auto;
	}
	#shop{
	width:20%;
	height:auto;	
	}
	#Rectangleimg{
		width:100%;	
		margin:0 10px 10px 0;	
		height:auto;
	}
	#Phonesimg{
		width:15%;		
		position: absolute;
        top: 22%;
        left: 74%;
        margin-right: -50%;
        transform: translate(-50%, -50%);	
		height:auto;
	}
	#phone{
	width:60%;	
	}
	#phonef{
	width:80%;	
	}
	input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('img/search.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}
#search{
	float:right;
	width:20%;
}
#H1{
	width:78%;
	position: absolute;
	margin-top:113px;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	height:auto;	
}
#H2{
	width:48%;
	position: absolute;
	margin-top:164px;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	height:auto;	
}
}	
/*планшеты*/
@media (min-width: 487px) and (max-width: 767px) {
 
	
.first{
	max-width:760px;
	
}
.row1p{
	margin-left:2%;
	}
	header{
	width: 100%;
	height:163px;
	}
	.map{
	width: 100%;
	height:281px;
	}
.littlep{
	float:left;
	width:25%;
	height:264px;
	margin-left:1%;
	margin-right:1%;
	border:	2px solid #DCE1E6;
	padding-left:3%;
	}
	#imgbutt{
		width:14%;
		position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
		height:auto;
	}
	.product{
	width: 100%;
	height:310px;

	}
	.about{
	width: 100%;	
	height:196px;	
	}
	.news{
	width: 100%;
	height:155px;	
	}
	.button1 {
		width:25%;	
		font-family: Clear Sans;
		font-weight: Bold;
		font-size: 16px;
		line-height: 19px;
		text-align: Center;			
		position: relative;
		display: inline-block;
		margin: 0 auto;
		padding:1%;
		margin:1%;
		background-color: white;
		color: #1AB0CE;
		border: 2px solid #1AB0CE;
		text-align:center;
				}
				.row2{
	width:100%;	
	float:left;
	}
	.row21{
	width:50%;
	float:left;
	}
	.prodtext{
		font-family:Clear Sans;
		font-style:Regular;
		font-size:14px;
		line-height:16px;
		text-align:left;
		margin-left: 40%;	
				}
	.maintext{
					
		font-family:Clear Sans;
		font-style:Regular;
		font-size:36px;
		line-height:42px;
		text-align:center;
				}
	#mainabout{
				
		font-family:Clear Sans;
		font-style:Regular;
		font-size:24px;
		line-height:28px;
		text-align:center;
				}
				#textabout{
		font-family:Clear Sans;
		font-style:Regular;
		font-size:14px;
		line-height:16px;
		text-align:justify;
					
				}
				.mainprod{
		font-family:Clear Sans;
		font-weight:bold;
		font-size:16px;
		line-height:19px;
		text-align:left;
		margin-left: 25%;		
				}
				.mainnew{
		font-family:Clear Sans;
		font-style:Regular;
		font-size:14px;
		line-height:16px;
		text-align:center;
		color:#BEC7D1;
				}
				.textnew{
		font-family:Clear Sans;
		font-style:Regular;
		font-size:16px;
		line-height:19px;
		text-align:center;
				}
				.textnew:hover{
		color: #1AB0CE;
		text-decoration: underline;
				}
				#room{
		 margin-left: 10px;	
		font-family:Clear Sans;
		font-style:Regular;
		font-size:14px;
		line-height:16px;
		text-align:justify;
				}
				.texthead{
		font-family:Clear Sans;
		font-weight:bold;
		font-size:14px;
		line-height:16px;
		text-align:right;
				}
				#butt{
				text-align: center;	
				
				}
			#shop{
				width:20%;
				height:auto;	
				}
			#Rectangleimg{
				width:100%;	
				margin:0 10px 10px 0;	
				height:auto;
					}
			#Phonesimg{
				width:15%;		
				position: absolute;
				top: 22%;
				left: 74%;
				margin-right: -50%;
				transform: translate(-50%, -50%);	
				height:auto;
			}
				footer{
					padding:10px;
					width: 100%;
					height:100px;
					background-color: #DCE1E6;
}
.littlen{
	float:left;
	width:25%;
	height:25%;
	margin-left:1%;
margin-right:1%;
	}
	.littlen:hover{
	border: 2px solid #1AB0CE;
		
	}
	.littleh{
	float:left;
	width:18%;
	margin-left:1%;
	margin-right:1%;
	border:	#DCE1E6;
	}
	.print{
		width:100%;
		height:auto;
	}
	.littlef{
	float:left;
	width:16%;
	margin-left:1%;
	margin-right:1%;
	border:	#DCE1E6;
	}
	#up{
	height:120px;	
	}
	
	.downlit1{
	float:left;
	width:8%;
	border:	#DCE1E6;
	}
	.textdown{
	text-align:center;	
	}
.button2 {
					
	 display: inline; /* Отображать как строчный элемент */
     font-family:Clear Sans;
	font-weight:bold;
	font-size:8px;
	line-height:19px;
	text-align:center;
    padding: 1%;				
	float: left;
	background-color: white;
    border: 1px solid #E8EDF2;
				}
				#phone{
	width:30%;	
	}
	.phone{
	font-family:Clear Sans;
	font-weight:bold;
	font-size:10px;
	line-height:19px;
	text-align:left;
	margin-left: 10px;	
	margin-right: 10px;	
	}

.imgcall{
		width:9%;
		position: absolute;
        margin-top: 225px;
        left: 94%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
		height:auto;
	}
	.imgcallf{
		width:9%;
		position: absolute;
        top: 1184px;
        left: 94%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
		height:auto;
	}
#imgLine{
		width:9%;		
		position: absolute;
        margin-top: 17%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
		height:auto;
	}
.button2:hover {
	border: 1px solid #1AB0CE;
	color: #1AB0CE;
}

#button2{
	width:74%;
	text-align:left;
	float:left;

}	
	.left{
	float:left;	
	margin-left:1%;
		}
	.leftp{
		width:18%;
		float:left;	
		margin-left:1%;
		height:auto;
	}
	.right{
		width:10%;
		float:right;
		margin-left:1%;	
		height:auto;
	}	
	#phonef{
	width:80%;	
	}
	input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('img/search.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}
#search{
	float:right;
	width:20%;
}
#H1{
	width:78%;
	position: absolute;
    margin-top:13%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	height:auto;	
}
	#H2{
		width:48%;
		position: absolute;
        margin-top:20%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
		height:auto;	
}
.none{
display:none;	
}
}

/*смартфоны*/
@media (max-width: 480px) {
  
	

.first{
	max-width:460px;
	min-height:600px;
}
.row1p{
	margin-left:1%;
	float:left;
	}
.map{
	width: 100%;
	height:281px;	
		}
	
	header{
	width: 100%;
	height:163px;
	}
	
	.product{
	width: 100%;
	height:445px;

	}
	.about{
	width: 100%;	
	height:253px;	
	}
	.news{
	width: 100%;
	height:280px;	
	}
.littlep{
	float:left;
	width:25%;
	height:402px;
	margin-left:1%;
	margin-right:1%;
	border:	2px solid #DCE1E6;
	padding-left:3%;
	}
	.littlen{
	float:left;
	width:31%;
	height:25%;
	margin-left:1%;
margin-right:1%;
	}
	.littlen:hover{
	border: 2px solid #1AB0CE;
		
	}
	.littleh{
		float:left;
	width:18%;
margin-left:1%;
margin-right:1%;
border:	#DCE1E6;
	}
	.print{
		width:100%;
		height:auto;
	}
	.littlef{
	float:left;
	width:22%;
	margin-left:1%;
	margin-right:1%;
	border:	#DCE1E6;
	}
	.row2{
	width:100%;	
	float:left;
	}
	.row21{
	width:100%;
	float:left;
	}
	.prodtext{
		font-family:Clear Sans;
		font-style:Regular;
		font-size:14px;
		line-height:16px;
		text-align:left;
		margin-left: 40%;	
				}
	.maintext{
					
		font-family:Clear Sans;
		font-style:Regular;
		font-size:36px;
		line-height:42px;
		text-align:center;
				}
	#mainabout{
				
		font-family:Clear Sans;
		font-style:Regular;
		font-size:24px;
		line-height:28px;
		text-align:center;
				}
				#textabout{
		font-family:Clear Sans;
		font-style:Regular;
		font-size:14px;
		line-height:16px;
		text-align:justify;
					
				}
				.mainprod{
		font-family:Clear Sans;
		font-weight:bold;
		font-size:16px;
		line-height:19px;
		text-align:left;
		margin-left: 0%;		
				}
				.mainnew{
		font-family:Clear Sans;
		font-style:Regular;
		font-size:14px;
		line-height:16px;
		text-align:center;
		color:#BEC7D1;
				}
				.textnew{
		font-family:Clear Sans;
		font-style:Regular;
		font-size:16px;
		line-height:19px;
		text-align:center;
				}
				.textnew:hover{
		color: #1AB0CE;
		text-decoration: underline;
				}
				#room{
		 margin-left: 10px;	
		font-family:Clear Sans;
		font-style:Regular;
		font-size:14px;
		line-height:16px;
		text-align:justify;
				}
				.texthead{
		font-family:Clear Sans;
		font-weight:bold;
		font-size:14px;
		line-height:16px;
		text-align:right;
				}
				#butt{
				text-align: center;	
				
				}
				.button2:hover {
			border: 1px solid #1AB0CE;
			color: #1AB0CE;
}

#button2{
	
	width:100%;
	text-align:left;
	float:left;

}	
	.left{
	float:left;	
	margin-left:1%;
		}
	.leftp{
		width:18%;
		float:left;	
		margin-left:1%;
		height:auto;
	}
	.right{
		width:10%;
		
		margin-left:1%;	
		height:auto;
	}
	#imgbutt{
		width:14%;
		position: absolute;
        top: 52%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
		height:auto;
	}
	.imgcall{
		width:9%;
		position: absolute;
        margin-top:221px;
        left: 91%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
		height:auto;
	}
	.imgcallf{
		width:9%;
		position: absolute;
        margin-top:-2%;
        left: 95%;
        margin-right: -50%;
        transform: translate(-50%, -50%);	
		height:auto;
	}
	#up{
	height:120px;	
	}
	
	.downlit1{
	float:left;
	width:8%;
	border:	#DCE1E6;
	}
	.textdown{
	text-align:center;	
	}	
		#H1{
		width:78%;
		position: absolute;
       	margin-top:30%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
		height:auto;	
}
#H2{
	width:48%;
	position: absolute;
	margin-top:37%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	height:auto;	
}
#imgLine {
    width: 9%;
    position: absolute;
    margin-top: 34%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    height: auto;
}
#phonef{
	width:80%;
	display:none;
	}
	input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('img/search.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}
#search{
	float:right;
	width:20%;
}
#shop{
	width:20%;
	height:auto;	
	}
	#Rectangleimg{
width:100%;	
margin:0 10px 10px 0;	
height:auto;
	}
	#Phonesimg{
		width:45%;		
		position: absolute;
        top: 24%;
        left: 74%;
        margin-right: -50%;
        transform: translate(-50%, -50%);	
		height:auto;
	}	
.button1 {
		width:40%;	
		font-family: Clear Sans;
		font-weight: Bold;
		font-size: 16px;
		line-height: 19px;
		text-align: Center;			
		position: relative;
		display: inline-block;
		margin: 0 auto;
		padding:1%;
		margin:1%;
		background-color: white;
		color: #1AB0CE;
		border: 2px solid #1AB0CE;
		text-align:center;
				}
footer{
	padding:10px;
	width: 100%;
	height:100px;
	background-color: #DCE1E6;
}
.button2 {
					
	 display: inline; /* Отображать как строчный элемент */
     font-family:Clear Sans;
	font-weight:bold;
	font-size:8px;
	line-height:19px;
	text-align:center;
    padding: 1%;				
	float: left;
	background-color: white;
    border: 1px solid #E8EDF2;
				}
				#phone{
	width:100%;	
	}
	.phone{
	font-family:Clear Sans;
	font-weight:bold;
	font-size:10px;
	line-height:19px;
	text-align:left;
	margin-left: 10px;	
	margin-right: 10px;	
	}
	.none{
display:none;	
}
	}				


